.env
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
node_modules/
.venv/
.vscode*
.vscode/tasks.json
settings.json
.idea/
.vscode/tasks.json
staticfiles/
static/
media/
tests.py
