::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: rgb(114, 114, 114);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(114, 114, 114);
  border-radius: 10px;
}

/* custom styles */
.c-text-inherit {
  color: inherit !important;
}
.c-bg-warning-light {
  background-color: rgb(244, 214, 41) !important;
}
.c-shadow-top {
  box-shadow: 1px 1px 20px grey !important;
}
.c-nav-link {
  color: rgb(11, 41, 161) !important;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px !important;
  text-transform: uppercase;
  text-decoration: none;
}

.c-sub-nav-link {
  /* color: white !important; */
  cursor: pointer;
  padding-left: 2.5rem !important;
}
.c-sub-nav-link i {
  /* color: white !important; */
}
.c-sub-nav-link:hover,
.c-sub-nav-link:hover i {
  /* color: white !important; */
}

.c-sub-sub-nav-link {
  /* color: white !important; */
  cursor: pointer;
  font-style: italic;
  padding-left: 3.75rem !important;
}
.c-sub-sub-nav-link i {
  /* color: white !important; */
}
.c-sub-sub-nav-link:hover,
.c-sub-sub-nav-link:hover i {
  /* color: white !important; */
}

.c-nav-link-active {
  background-color: rgb(159, 159, 159) !important;
}

.c-border-info-dark {
  border-color: rgb(42, 87, 82) !important;
}
.custom-bg-info-dark {
  background-color: rgb(42, 87, 82) !important;
}
.custom-rounded-bottom {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.custom-rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.custom-rounded-05 {
  border-radius: 5px !important;
}
.custom-rounded-1 {
  border-radius: 10px !important;
}
.custom-rounded-2 {
  border-radius: 20px !important;
}
.custom-cursor-pointer {
  cursor: pointer !important;
}
.c-pointer {
  cursor: pointer !important;
}
.custom-icon-small {
  font-size: 20px !important;
}
.custom-fs-normal {
  font-size: 12px !important;
}
.custom-bg-pink {
  background-color: rgb(255, 51, 204) !important;
}
.custom-w-10ch {
  width: 15rem !important;
}
.custom-z-0 {
  z-index: 0 !important;
}
.custom-z-max,
.c-z-max {
  z-index: 999999 !important;
}
.smallest {
  font-size: 13px;
}
.custom-overflow-y-scroll {
  overflow-y: scroll;
}
.custom-overflow-y-auto {
  overflow-y: auto;
}
.custom-overflow-x-scroll {
  overflow-x: scroll;
}
.custom-overflow-x-scroll {
  overflow-x: scroll;
}
.custom-cursor-not-allowed {
  cursor: not-allowed;
}
.custom-no-pointer-events {
  pointer-events: none;
}
.custom-fs-28 {
  font-size: 28px;
}
.custom-form-control-disabled {
  opacity: 0.8 !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: gray;
  cursor: not-allowed;
}
.custom-disable.disabled {
  opacity: 0.5 !important;
}
.custom-pointer {
  cursor: pointer;
}
.custom-form-control {
  padding: 0.1rem 0.4rem;
}
.custom-form-control:focus {
  outline: none;
  box-shadow: none;
  padding: default;
}
.custom-btn {
  border: none;
  background-color: transparent;
}
.custom-btn:hover {
  color: gray;
}

.custom-message {
  border-radius: 20px 0 20px 20px;
  background-color: rgb(228, 228, 228);
  border-color: rgb(90, 90, 90) !important;
}
/* background colors */

.custom-bg-whitesmoke {
  background-color: whitesmoke !important;
}
.custom-bg-grey {
  background-color: rgb(165, 165, 165);
}
.custom-bg-grey-2 {
  background-color: rgb(99, 97, 97);
}

/* width */

.c-w-fit,
.custom-w-fit {
  width: fit-content !important;
}
.custom-w-03 {
  width: 30%;
}
.custom-w-10 {
  width: 10px;
}
.custom-w-20 {
  width: 20px;
}
.custom-w-30 {
  width: 30px;
}
.custom-w-40 {
  width: 40px;
}
.custom-w-50 {
  width: 50px;
}
.custom-w-60 {
  width: 60px;
}
.custom-w-70 {
  width: 70px;
}
.custom-w-80 {
  width: 80px;
}
.custom-w-90 {
  width: 90px;
}
.custom-w-1 {
  width: 100px;
}
.custom-w-150 {
  width: 150px;
}
.custom-w-160 {
  width: 160px;
}
.custom-w-170 {
  width: 170px;
}
.custom-w-180 {
  width: 180px;
}
.custom-w-190 {
  width: 190px;
}
.custom-w-2 {
  width: 200px;
}
.custom-w-3 {
  width: 300px;
}
.custom-w-4 {
  width: 400px;
}
.custom-w-5 {
  width: 500px;
}
.custom-w-6 {
  width: 600px;
}

/* height */

.custom-h-05 {
  height: 50px;
}
.custom-h-06 {
  height: 60px;
}
.custom-h-07 {
  height: 70px;
}
.custom-h-08 {
  height: 80px;
}
.custom-h-1 {
  height: 100px;
}
.custom-h-2 {
  height: 200px;
}
.custom-h-3 {
  height: 300px;
}
.custom-h-4 {
  height: 400px;
}
.custom-h-5 {
  height: 500px;
}
.custom-h-6 {
  height: 600px;
}
.custom-h-screen {
  height: 82vh !important;
}

/* max height */

.custom-mx-h-05 {
  max-height: 50px;
}
.custom-mx-h-1 {
  max-height: 100px;
}
.custom-mx-h-15 {
  max-height: 150px;
}
.custom-mx-h-2 {
  max-height: 200px;
}
.custom-mx-h-3 {
  max-height: 300px;
}
.custom-mx-h-5 {
  max-height: 500px;
}
.custom-vh-50 {
  height: 55vh !important;
}
.custom-vh-60 {
  height: 60vh !important;
}
.custom-vh-70 {
  height: 70vh !important;
}
.custom-vh-80 {
  height: 80vh !important;
}
.custom-vh-90 {
  height: 90vh !important;
}

/* min height */

.custom-mn-h-05 {
  min-height: 50px;
}
.custom-mn-h-06 {
  min-height: 60px;
}
.custom-mn-h-07 {
  min-height: 70px;
}
.custom-mn-h-08 {
  min-height: 80px;
}
.custom-mn-h-1 {
  min-height: 100px;
}
.custom-mn-h-2 {
  min-height: 200px;
}
.custom-mn-h-3 {
  min-height: 300px;
}
.custom-mn-h-4 {
  min-height: 400px;
}
.custom-mn-h-5 {
  min-height: 500px;
}

/* min width */

.custom-mn-w-05 {
  min-width: 50px;
}
.custom-mn-w-06 {
  min-width: 60px;
}
.custom-mn-w-07 {
  min-width: 70px;
}
.custom-mn-w-08 {
  min-width: 80px;
}
.custom-mn-w-09 {
  min-width: 90px;
}
.custom-mn-w-1 {
  min-width: 100px;
}
.custom-mn-w-2 {
  min-width: 200px;
}
.custom-mn-w-3 {
  min-width: 300px;
}
.custom-mn-w-4 {
  min-width: 400px;
}
.custom-mn-w-5 {
  min-width: 500px;
}

/* max width */

.custom-mx-w-05 {
  max-width: 50px;
}
.custom-mx-w-1 {
  max-width: 100px;
}
.custom-mx-w-2 {
  max-width: 200px;
}
.custom-mx-w-3 {
  max-width: 300px;
}
.custom-mx-w-4 {
  max-width: 400px;
}
.custom-mx-w-5 {
  max-width: 500px;
}
.custom-mx-w-6 {
  max-width: 600px;
}
.custom-mx-w-6 {
  max-width: 600px;
}
.custom-mx-w-5 {
  max-width: 500px;
}

.c-thead-bg {
  background-color: #a0a0af !important;
}
.c-fs-small {
  font-size: small !important;
}
.c-fs-smallest {
  font-size: 11px !important;
}
.c-fs-18 {
  font-size: 18px !important;
}
.c-z-5 {
  z-index: 5 !important;
}
.c-z-high {
  z-index: 999999 !important;
}
.c-bg-light {
  background-color: #dadae5 !important;
}

.c-select {
  box-shadow: none !important;
  min-width: 200px !important; /* Ensures the select is at least as wide as its longest option */
}
.c-px-02 {
  padding-left: 2px;
  padding-right: 2px;
}

/* custom sidebar accordion */
@media screen {
  .c-new-nav-link {
    font-weight: 450;
    /* color: white; */
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1;
    /* min-height: 2.75rem; */
    min-height: 2.5rem;
    cursor: pointer;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
  }
  .c-new-nav-link:hover {
    color: inherit;
  }
  .c-level-1 {
    color: rgb(11, 41, 161);
    font-weight: 600;
    font-size: 16px !important;
    text-transform: uppercase;
  }
  .c-level-1:hover {
    color: rgb(11, 41, 161);
  }
  .c-level-2 {
    padding-left: 2rem !important;
  }
  .c-level-3 {
    font-style: italic;
    padding-left: 3rem !important;
  }
  .c-level-4 {
    font-style: italic;
    padding-left: 4rem !important;
  }
  .c-level-5 {
    font-style: italic;
    padding-left: 5rem !important;
  }
  .c-new-nav-link-active {
    background-color: rgb(202, 202, 202) !important;
  }
  .c-collapse-arrow {
    transition: transform 0.15s ease;
  }
  .c-new-nav-link-active .c-collapse-arrow {
    transform: rotate(-90deg);
  }
}

.c-terminated {
  background-color: black !important;
  color: whitesmoke !important;
}

.c-expired {
  background-color: goldenrod;
}

.bg-gold {
  background-color: goldenrod;
}

.c-once-per-months {
  display: inline-block;
  margin: 0 0.2rem;
  background: transparent;
  color: inherit;
  padding: 0;
  border: 0 !important;
  outline: none !important;
  border-bottom: solid grey !important;
  text-align: center;
  font-weight: bold;
  box-shadow: none !important;
  width: 32px !important;
  transition: all 0.1s ease-in-out;
}
.c-once-per-months:hover {
  color: rgb(49, 49, 42);
}

.c-line-clamp-50 {
  max-height: 50px;
  overflow-y: auto;
}
.c-line-clamp-60 {
  max-height: 60px;
  overflow-y: auto;
}
.c-line-clamp-70 {
  max-height: 70px;
  overflow-y: auto;
}
.c-line-clamp-80 {
  max-height: 80px;
  overflow-y: auto;
}
.c-line-clamp-90 {
  max-height: 900px;
  overflow-y: auto;
}
.c-line-clamp-1 {
  max-height: 100px;
  overflow-y: auto;
}
.c-line-clamp-2 {
  max-height: 200px;
  overflow-y: auto;
}
.c-line-clamp-3 {
  max-height: 300px;
  overflow-y: auto;
}
.c-line-clamp-4 {
  max-height: 400px;
  overflow-y: auto;
}
.c-line-clamp-5 {
  max-height: 500px;
  overflow-y: auto;
}
.c-not-allowed {
  cursor: not-allowed;
}
.c-done {
  text-decoration: line-through !important;
}
.c-muted {
  background-color: #a0a0af !important;
  color: #444444 !important;
}

.c-done-block {
  color: #aeaeae !important;
}

#debt-call-table {
  max-height: 60vh !important;
  overflow-y: auto !important;
}

.c-border-y-dark {
  border-top: solid 2px rgb(47, 47, 47) !important;
  border-bottom: solid 2px rgb(47, 47, 47) !important;
}

.fs-larger {
  font-size: 120% !important;
}

.c-text-link {
  color: rgb(11, 83, 161) !important;
}
.h100 {
  height: 200vh !important
  ;
}
.c-bg-whitesmoke {
  background-color: whitesmoke !important;
}
.c-table-top {
  top: calc(3.7rem - 5px) !important;
}
.c-force-borders th {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.c-force-borders th div {
  border-right: solid thin gray !important;
  padding: 0 1rem !important;
}
.c-force-borders-white th div {
  border-right: solid thin white !important;
  padding: 0 1rem !important;
}
.c-force-borders th:last-child div {
  border-right: none !important;
}

#invoice_currency {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
  width: 100%;
  text-align: center;
}

#invoice_currency option {
  background-color: white; /* Background color for options */
  width: 100%;
  text-align: center;
  color: black;
}
.c-hover-fade {
  transition: all 0.1s linear;
}
.c-hover-fade:hover {
  opacity: 0.7;
}

.c-feature-text {
  position: relative;
  border-radius: 10px;
}

.c-feature-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border: dashed thick rgb(201, 201, 201);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.c-fs-inherit {
  font-size: inherit !important;
}

.c-fs-09 {
  font-size: 90% !important;
}
.c-fs-08 {
  font-size: 80% !important;
}
.c-fs-07 {
  font-size: 70% !important;
}
.c-fs-06 {
  font-size: 60% !important;
}
