{% extends "admin/base_site.html" %}

{% block content %}
<h1>History for {{ object }}</h1>

<table>
    <thead>
        <tr>
            <th>Change Date</th>
            <th>Changed By</th>
            <th>Fields Changed</th>
        </tr>
    </thead>
    <tbody>
        {% for history in object.history.all %}
            <tr>
                <td>{{ history.history_date }}</td>
                <td>{{ history.history_user }}</td>
                <td>{{ history.get_field_changes }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No history available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
