:root {
   --bg-dark-body-bg: #f8f8f8;
   --bg-primary: #176987;
}
* {
   font-family: "Inter Variable", sans-serif;
}
.bg-dark-body {
   background-color: var(--bg-dark-body-bg);
}
.bg-primary {
   background-color: var(--bg-primary);
}

.input-default {
   padding: 10px 15px;
   border-radius: 7.5px;
   outline: none;
   transition: all ease-in-out 0.3ms;
}
.input-default:focus,
.input-default:hover {
   border: 1.8px solid var(--bg-primary);
}
/* src/index.css or your main CSS file */

.input-default {
   border-width: 1px;
   border-style: solid;
   border-color: #c2c2c2;
   background-color: #ffffff;
   color: #1f2937;
}

.input-default::placeholder {
   color: #9ca3af;
}

html.dark .input-default {
   border-color: #3f3f46; /* dark:border-zinc-700 */
   background-color: #18181b; /* dark:bg-zinc-900 */
   color: #f3f4f6; /* dark:text-gray-100 */
}

html.dark .input-default::placeholder {
   color: #6b7280; /* dark:placeholder-gray-500 */
}

.main {
   margin-left: 45px;
}
.sidebar-labels {
   letter-spacing: 2px;
   text-transform: uppercase;
}
/* Apply to all scrollable elements */
::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   background: transparent; /* light mode */
}

::-webkit-scrollbar-thumb {
   background-color: #2086ac; /* primary-dark */
   border-radius: 15px;

   border: 2px solid transparent;
   background-clip: content-box;
}

/* Optional: Dark mode support */
.dark ::-webkit-scrollbar-track {
   background: rgba(255, 255, 255, 0.05);
}
.form-group {
   display: flex;
   flex-direction: column;
}
.form-group label {
   margin-bottom: 10px;
}
label.required::after {
   content: "*";
   color: red;
}
.dark ::-webkit-scrollbar-thumb {
   background-color: var(--bg-primary);
}
.select-input {
   border: 2px solid #c2c2c2;
   border-radius: 7.5px;
}
.select-input select,
.select-input input {
   border: none;
   outline: none;
   padding: 10px 15px;
}
.select-input select {
   background-color: var(--bg-primary);
   color: white;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
.select-input input {
   width: 100%;
}
.select-input:has(input:focus) {
   border-color: var(--bg-primary);
}
.table-row {
   margin-bottom: 15ppx;
}
