@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));
.light {
  --background: #f5f5f5;
  --card : white;
  --foreground: #0f0f0f;
  --primary: #176987;
  --primary-disabled: #17698794;
  --primary-dark: #2086ac;
  --SECONDARY: rgb(38, 41, 43);
  --SUCCESS: rgb(54, 182, 59);
  --ERROR: rgb(153, 61, 43);
  --radius: 0.625rem;

  /* Add all other light-mode variables here */
}


.dark {
  --background: #111113;
  --foreground: oklch(0.985 0 0);
  --card: #222222;
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  /* Add all dark-mode overrides here */
}
@theme inline {
   --color-card: var(--card);
   --color-primary : var(--primary);
   --color-background : var(--background);
   --color-primary-foreground : var(--primary-foreground);
}
@layer base {
  body {
    color: var(--foreground);
  }
 
}

.main-card{
   @apply mt-10 shadow bg-white dark:bg-zinc-950 border border-gray-300 dark:border-zinc-800 rounded-xl shadow p-5 w-full min-h-[75vh]
}

.side-main{
   @apply px-7 py-4 w-full
}

.td-border-color{
   @apply border-gray-300 dark:border-zinc-800  
}
